
  @font-face {
    font-family: AvenirBold;
    src: url(../../font/Avenir-Heavy-05.ttf);
  }
  .headerText{
  margin-top: -10px;
  font-family: AvenirBold;
  font-size: 1.1em;
  color: antiquewhite;
  font-weight: bolder;
}