.buttonDiv{
  width: auto;
  height: 32.5%;
}
.startButton {
  border-color: whitesmoke;
  border-style: solid;
  border-radius: 30px;
  background-color: #ed184a;
  font-size: 1.1em;
  width: 300px;
  height: 55px;
  cursor: pointer;
  color: antiquewhite;
  margin-top: 55px;
  margin-bottom: 55px;
  outline: none;
}

.startButton:hover {
  font-weight: 800;
  border-width: 3px;
}

.startHeaderLogo{
  padding:12.5%;
  height: 33%; 
}

.imageDiv{
  height: 32%;
}
.avatarsImage {
  margin-top: 4.4%;
}
