.catHeaderLogo {
  padding: 6%;
}
.rowCategoryImagesDiv{
  margin-top: 3vh;
  display: flex;
  padding: 10px;
  justify-content: center;
}
a{
  margin:1px;
}
.categoryButton{
  cursor: pointer;
  width: 148px;
  height: 190px;
  border: none;
  border-radius: 20px;
  margin: 5px;
  font-size: 1em;
  outline: none;
  
}
.categoryButton:hover{
  border-width: 4px;
  border-style: solid;
  border-color: lightgray;
  font-weight: 600;
}
.categoryImages{
  z-index: 0;
  width: 130px;
}


