.modalWindow{
  position: fixed;
  max-width: 380px;
  height: 540px;
  max-height: 540px;
  display: flex;
  vertical-align: middle;
  top: 14%;
  left: 10%;
  right: 10%;
  background-color: white;
  visibility: hidden;
  opacity: 0;
  transition: visiblity 0s, opacity 0.3s;
}

.activeModalWindow{
  visibility: visible;
  opacity: 1;
}

@font-face {
  font-family: AvenirBold;
  src: url(../../font/Avenir-Light-07.ttf);
}

.modalHeaderStyle{
  position: fixed;
  top: 14%;
  right: 10%;
  left: 10%;
  display: flex;
  height: 20%;
}

.modalHeaderText{
  font-family: AvenirBold;
  font-size: 2em;
  color: antiquewhite;
}

.modalAddTaskSection{
  margin-top: 190px;
  max-height: 405px;

}

.modalInput{
  outline: none;
  font-size: 1.5em;
  width: 84%;
  height: 40px;
  border: none;
  border-bottom: 2px solid lightgray;
  margin-bottom: 10%;
}

.modalButtonAgregar {
  border-color: whitesmoke;
  border-style: solid;
  border-radius: 30px;
  background-color: #ed184a;
  font-size: 1.1em;
  width: 300px;
  height: 58px;
  cursor: pointer;
  color: antiquewhite;
  max-width: 95%;
  margin-top: 5%;
  margin-bottom: 35px;
  outline: none;
}

.modalButtonCancelar {
  border-color: red;
  border-style: solid;
  border-radius: 30px;
  background-color: white;
  font-size: 1.1em;
  width: 300px;
  min-height: 56px;
  cursor: pointer;
  color: red;
  max-width: 95%;
  outline: none;
}

.modalButton:hover {
  font-weight: 800;
  border-width: 3px;
}